# Pandas

Python biblioteka, skirta duomenų apdorojimui ir analizei

## Importuojam pandas

In [1]:
import pandas as pd

## Nuskaitome duomenis iš failo

In [3]:
duomenys=pd.read_csv('sf_paslaugos_prekes.csv')
duomenys

,idsf_paslaugos_prekes,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,saskaitos_fakturos_id,nuolaida
0,1,Dizaino pagrindai ir piešimas,val.,120,40,1,0
1,2,Dizaino programavimas,val.,120,40,1,0
2,3,Programavimas,val.,160,40,2,0
3,4,Testavimas,val.,16,30,2,0
4,5,Programavimas,val.,160,40,3,0
5,6,Testavimas,val.,20,30,3,0
6,7,Programavimas,val.,160,40,4,0
7,8,Testavimas,val.,20,30,4,0
8,9,Programavimas,val.,160,40,5,0
9,10,Testavimas,val.,40,30,5,0
10,11,Programavimas,val.,100,40,6,0
11,12,Testavimas,val.,40,30,6,0
12,13,Dokumentacijos rengimas,val.,50,30,6,0
13,14,Projekto parengimas darbui,val.,30,30,6,0
14,15,Dizaino piešimas,val.,80,40,7,0
15,16,Dizaino programavimas,val.,120,40,7,0
16,17,Testavimas,val.,20,30,8,0
17,18,Programavimas,val.,100,40,9,0
18,19,Testavimas,val.,20,30,9,0
19,20,Projekto talpinimas,val.,20,30,9,0
20,21,Avansas,vnt.,1,1000,10,0
21,22,Dizaino piešimas,val.,80,40,11,0
22,23,Dizaino programavimas,val.,80,40,11,0
23,24,Testavimas,val.,20,30,11,0
24,25,Programavimas,val.,80,40,12,0
25,26,Testavimas,val.,10,30,12,0
26,27,Projekto talpinimas,val.,10,30,12,0

## Duomenų rinkinio informacija

In [4]:
duomenys.shape

(27, 7)

In [8]:
duomenys.info

<bound method DataFrame.info of     idsf_paslaugos_prekes                     pavadinimas matavimo_vnt  \
0                       1  Dizaino pagrindai ir piešimas          val.
1                       2           Dizaino programavimas         val.
2                       3                   Programavimas         val.
3                       4                      Testavimas         val.
4                       5                   Programavimas         val.
5                       6                      Testavimas         val.
6                       7                   Programavimas         val.
7                       8                      Testavimas         val.
8                       9                   Programavimas         val.
9                      10                      Testavimas         val.
10                     11                   Programavimas         val.
11                     12                      Testavimas         val.
12                     13         Dokumentacijos rengimas         val.
13                     14      Projekto parengimas darbui         val.
14                     15                Dizaino piešimas         val.
15                     16           Dizaino programavimas         val.
16                     17                      Testavimas         val.
17                     18                   Programavimas         val.
18                     19                      Testavimas         val.
19                     20             Projekto talpinimas         val.
20                     21                         Avansas         vnt.
21                     22                Dizaino piešimas         val.
22                     23           Dizaino programavimas         val.
23                     24                      Testavimas         val.
24                     25                   Programavimas         val.
25                     26                      Testavimas         val.
26                     27             Projekto talpinimas         val.

    vienetu  vnt_kaina  saskaitos_fakturos_id  nuolaida
0       120         40                      1         0
1       120         40                      1         0
2       160         40                      2         0
3        16         30                      2         0
4       160         40                      3         0
5        20         30                      3         0
6       160         40                      4         0
7        20         30                      4         0
8       160         40                      5         0
9        40         30                      5         0
10      100         40                      6         0
11       40         30                      6         0
12       50         30                      6         0
13       30         30                      6         0
14       80         40                      7         0
15      120         40                      7         0
16       20         30                      8         0
17      100         40                      9         0
18       20         30                      9         0
19       20         30                      9         0
20        1       1000                     10         0
21       80         40                     11         0
22       80         40                     11         0
23       20         30                     11         0
24       80         40                     12         0
25       10         30                     12         0
26       10         30                     12         0  >

In [7]:
duomenys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   idsf_paslaugos_prekes  27 non-null     int64
 1   pavadinimas            27 non-null     object
 2   matavimo_vnt           27 non-null     object
 3   vienetu                27 non-null     int64
 4   vnt_kaina              27 non-null     int64
 5   saskaitos_fakturos_id  27 non-null     int64
 6   nuolaida               27 non-null     int64
dtypes: int64(5), object(2)
memory usage: 1.6+ KB

In [10]:
duomenys.head()

,idsf_paslaugos_prekes,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,saskaitos_fakturos_id,nuolaida
0,1,Dizaino pagrindai ir piešimas,val.,120,40,1,0
1,2,Dizaino programavimas,val.,120,40,1,0
2,3,Programavimas,val.,160,40,2,0
3,4,Testavimas,val.,16,30,2,0
4,5,Programavimas,val.,160,40,3,0

In [11]:
duomenys.tail(1)

,idsf_paslaugos_prekes,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,saskaitos_fakturos_id,nuolaida
26,27,Projekto talpinimas,val.,10,30,12,0

## Darbas su stulpeliais

In [12]:
duomenys['pavadinimas']

0     Dizaino pagrindai ir piešimas
1              Dizaino programavimas
2                      Programavimas
3                         Testavimas
4                      Programavimas
5                         Testavimas
6                      Programavimas
7                         Testavimas
8                      Programavimas
9                         Testavimas
10                     Programavimas
11                        Testavimas
12           Dokumentacijos rengimas
13        Projekto parengimas darbui
14                  Dizaino piešimas
15             Dizaino programavimas
16                        Testavimas
17                     Programavimas
18                        Testavimas
19               Projekto talpinimas
20                           Avansas
21                  Dizaino piešimas
22             Dizaino programavimas
23                        Testavimas
24                     Programavimas
25                        Testavimas
26               Projekto talpinimas
Name: pavadinimas, dtype: object

In [14]:
duomenys['vnt_kaina']

0       40
1       40
2       40
3       30
4       40
5       30
6       40
7       30
8       40
9       30
10      40
11      30
12      30
13      30
14      40
15      40
16      30
17      40
18      30
19      30
20    1000
21      40
22      40
23      30
24      40
25      30
26      30
Name: vnt_kaina, dtype: int64

In [17]:
column_names=['pavadinimas','vnt_kaina','vienetu']
duomenys[column_names]

duomenys[['pavadinimas','vnt_kaina','vienetu']]

                       pavadinimas  vnt_kaina  vienetu
0   Dizaino pagrindai ir piešimas          40      120
1            Dizaino programavimas         40      120
2                    Programavimas         40      160
3                       Testavimas         30       16
4                    Programavimas         40      160
5                       Testavimas         30       20
6                    Programavimas         40      160
7                       Testavimas         30       20
8                    Programavimas         40      160
9                       Testavimas         30       40
10                   Programavimas         40      100
11                      Testavimas         30       40
12         Dokumentacijos rengimas         30       50
13      Projekto parengimas darbui         30       30
14                Dizaino piešimas         40       80
15           Dizaino programavimas         40      120
16                      Testavimas         30       20
17                   Programavimas         40      100
18                      Testavimas         30       20
19             Projekto talpinimas         30       20
20                         Avansas       1000        1
21                Dizaino piešimas         40       80
22           Dizaino programavimas         40       80
23                      Testavimas         30       20
24                   Programavimas         40       80
25                      Testavimas         30       10
26             Projekto talpinimas         30       10

## Darbas su eilutėmis

In [19]:
duomenys.iloc[0]

idsf_paslaugos_prekes                                 1
pavadinimas              Dizaino pagrindai ir piešimas
matavimo_vnt                                       val.
vienetu                                             120
vnt_kaina                                            40
saskaitos_fakturos_id                                 1
nuolaida                                              0
Name: 0, dtype: object

In [20]:
duomenys.iloc[0:5]

,idsf_paslaugos_prekes,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,saskaitos_fakturos_id,nuolaida
0,1,Dizaino pagrindai ir piešimas,val.,120,40,1,0
1,2,Dizaino programavimas,val.,120,40,1,0
2,3,Programavimas,val.,160,40,2,0
3,4,Testavimas,val.,16,30,2,0
4,5,Programavimas,val.,160,40,3,0

In [21]:
duomenys.iloc[0:10:2]

,idsf_paslaugos_prekes,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,saskaitos_fakturos_id,nuolaida
0,1,Dizaino pagrindai ir piešimas,val.,120,40,1,0
2,3,Programavimas,val.,160,40,2,0
4,5,Programavimas,val.,160,40,3,0
6,7,Programavimas,val.,160,40,4,0
8,9,Programavimas,val.,160,40,5,0

In [22]:
duomenys.iloc[0:10:2][['vnt_kaina','nuolaida']]

   vnt_kaina  nuolaida
0         40         0
2         40         0
4         40         0
6         40         0
8         40         0

## Eilučių filtravimas pagal duotą sąlygą

In [25]:
duomenys[duomenys['pavadinimas'] == 'Testavimas']
duomenys[(duomenys['pavadinimas'] == 'Testavimas') & (duomenys['matavimo_vnt'] == 'val.')]
# loc

,idsf_paslaugos_prekes,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,saskaitos_fakturos_id,nuolaida
3,4,Testavimas,val.,16,30,2,0
5,6,Testavimas,val.,20,30,3,0
7,8,Testavimas,val.,20,30,4,0
9,10,Testavimas,val.,40,30,5,0
11,12,Testavimas,val.,40,30,6,0
16,17,Testavimas,val.,20,30,8,0
18,19,Testavimas,val.,20,30,9,0
23,24,Testavimas,val.,20,30,11,0
25,26,Testavimas,val.,10,30,12,0

In [26]:
duomenys[duomenys['vienetu']<=20]

,idsf_paslaugos_prekes,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,saskaitos_fakturos_id,nuolaida
3,4,Testavimas,val.,16,30,2,0
5,6,Testavimas,val.,20,30,3,0
7,8,Testavimas,val.,20,30,4,0
16,17,Testavimas,val.,20,30,8,0
18,19,Testavimas,val.,20,30,9,0
19,20,Projekto talpinimas,val.,20,30,9,0
20,21,Avansas,vnt.,1,1000,10,0
23,24,Testavimas,val.,20,30,11,0
25,26,Testavimas,val.,10,30,12,0
26,27,Projekto talpinimas,val.,10,30,12,0

## Rikiavimas

In [30]:
duomenys.sort_values(by='vienetu', ascending=False)

duomenys.sort_values(by='vnt_kaina', ascending=True)
duomenys.sort_values(['vienetu','saskaitos_fakturos_id'], ascending=True)

,idsf_paslaugos_prekes,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,saskaitos_fakturos_id,nuolaida
20,21,Avansas,vnt.,1,1000,10,0
25,26,Testavimas,val.,10,30,12,0
26,27,Projekto talpinimas,val.,10,30,12,0
3,4,Testavimas,val.,16,30,2,0
5,6,Testavimas,val.,20,30,3,0
7,8,Testavimas,val.,20,30,4,0
16,17,Testavimas,val.,20,30,8,0
18,19,Testavimas,val.,20,30,9,0
19,20,Projekto talpinimas,val.,20,30,9,0
23,24,Testavimas,val.,20,30,11,0
13,14,Projekto parengimas darbui,val.,30,30,6,0
9,10,Testavimas,val.,40,30,5,0
11,12,Testavimas,val.,40,30,6,0
12,13,Dokumentacijos rengimas,val.,50,30,6,0
14,15,Dizaino piešimas,val.,80,40,7,0
21,22,Dizaino piešimas,val.,80,40,11,0
22,23,Dizaino programavimas,val.,80,40,11,0
24,25,Programavimas,val.,80,40,12,0
10,11,Programavimas,val.,100,40,6,0
17,18,Programavimas,val.,100,40,9,0
0,1,Dizaino pagrindai ir piešimas,val.,120,40,1,0
1,2,Dizaino programavimas,val.,120,40,1,0
15,16,Dizaino programavimas,val.,120,40,7,0
2,3,Programavimas,val.,160,40,2,0
4,5,Programavimas,val.,160,40,3,0
6,7,Programavimas,val.,160,40,4,0
8,9,Programavimas,val.,160,40,5,0

## Informacijos atnaujinimas

In [34]:
import numpy as np

duomenys['bendra_kaina'] = duomenys['vnt_kaina']*duomenys['vienetu']
duomenys

duomenys['nuolaida']=np.where(duomenys['vienetu'].values>50, 20, None)
duomenys

,idsf_paslaugos_prekes,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,saskaitos_fakturos_id,nuolaida,bendra_kaina
0,1,Dizaino pagrindai ir piešimas,val.,120,40,1,20,4800
1,2,Dizaino programavimas,val.,120,40,1,20,4800
2,3,Programavimas,val.,160,40,2,20,6400
3,4,Testavimas,val.,16,30,2,None,480
4,5,Programavimas,val.,160,40,3,20,6400
5,6,Testavimas,val.,20,30,3,None,600
6,7,Programavimas,val.,160,40,4,20,6400
7,8,Testavimas,val.,20,30,4,None,600
8,9,Programavimas,val.,160,40,5,20,6400
9,10,Testavimas,val.,40,30,5,None,1200
10,11,Programavimas,val.,100,40,6,20,4000
11,12,Testavimas,val.,40,30,6,None,1200
12,13,Dokumentacijos rengimas,val.,50,30,6,None,1500
13,14,Projekto parengimas darbui,val.,30,30,6,None,900
14,15,Dizaino piešimas,val.,80,40,7,20,3200
15,16,Dizaino programavimas,val.,120,40,7,20,4800
16,17,Testavimas,val.,20,30,8,None,600
17,18,Programavimas,val.,100,40,9,20,4000
18,19,Testavimas,val.,20,30,9,None,600
19,20,Projekto talpinimas,val.,20,30,9,None,600
20,21,Avansas,vnt.,1,1000,10,None,1000
21,22,Dizaino piešimas,val.,80,40,11,20,3200
22,23,Dizaino programavimas,val.,80,40,11,20,3200
23,24,Testavimas,val.,20,30,11,None,600
24,25,Programavimas,val.,80,40,12,20,3200
25,26,Testavimas,val.,10,30,12,None,300
26,27,Projekto talpinimas,val.,10,30,12,None,300

## Stulpelių šalinimas

In [35]:
duomenys= duomenys.drop(columns=['idsf_paslaugos_prekes', 'saskaitos_fakturos_id'])

In [36]:
duomenys

,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,nuolaida,bendra_kaina
0,Dizaino pagrindai ir piešimas,val.,120,40,20,4800
1,Dizaino programavimas,val.,120,40,20,4800
2,Programavimas,val.,160,40,20,6400
3,Testavimas,val.,16,30,None,480
4,Programavimas,val.,160,40,20,6400
5,Testavimas,val.,20,30,None,600
6,Programavimas,val.,160,40,20,6400
7,Testavimas,val.,20,30,None,600
8,Programavimas,val.,160,40,20,6400
9,Testavimas,val.,40,30,None,1200
10,Programavimas,val.,100,40,20,4000
11,Testavimas,val.,40,30,None,1200
12,Dokumentacijos rengimas,val.,50,30,None,1500
13,Projekto parengimas darbui,val.,30,30,None,900
14,Dizaino piešimas,val.,80,40,20,3200
15,Dizaino programavimas,val.,120,40,20,4800
16,Testavimas,val.,20,30,None,600
17,Programavimas,val.,100,40,20,4000
18,Testavimas,val.,20,30,None,600
19,Projekto talpinimas,val.,20,30,None,600
20,Avansas,vnt.,1,1000,None,1000
21,Dizaino piešimas,val.,80,40,20,3200
22,Dizaino programavimas,val.,80,40,20,3200
23,Testavimas,val.,20,30,None,600
24,Programavimas,val.,80,40,20,3200
25,Testavimas,val.,10,30,None,300
26,Projekto talpinimas,val.,10,30,None,300

## Agregavimas (suma, vidurkis ir pan.)

In [37]:
duomenys['bendra_kaina'].sum()

np.int64(71280)

In [38]:
duomenys['bendra_kaina'].max()

np.int64(6400)

In [39]:
duomenys['bendra_kaina'].min()

np.int64(300)

In [40]:
duomenys['bendra_kaina'].mean()

np.float64(2640.0)

In [41]:
duomenys['bendra_kaina'].count()

np.int64(27)

In [42]:
duomenys.to_csv('nauji_duomenys.csv')

## Tarpinių / galutinių rezultatų išsaugojimas / eksportavimas

# Užduotys

## Užduotis 1

nuskaitykite duomenis iš failo nauji_duomenys.csv į pandas dataframe<br>
prie kievienos duomenų eilutės išveskite naują stulpelį, kuriame būtų suskaičiuotos bendros kainos<br>
raskite max ir min kainas iš Jūsų sukurto stulpelio<br>
surikiuokite df mažėjančia tvarka pagal Jūsų sukurtą stulpelį

In [7]:
import pandas as pd
df=pd.read_csv('nauji_duomenys.csv')
#duomenys['bendra_kaina'] = duomenys['vnt_kaina']*duomenys['vienetu']
print(df['bendra_kaina'].max())
print(df['bendra_kaina'].min())
df.sort_values(by='bendra_kaina', ascending=False)

6400
300

,Unnamed: 0,pavadinimas,matavimo_vnt,vienetu,vnt_kaina,nuolaida,bendra_kaina
2,2,Programavimas,val.,160,40,20.0,6400
6,6,Programavimas,val.,160,40,20.0,6400
4,4,Programavimas,val.,160,40,20.0,6400
8,8,Programavimas,val.,160,40,20.0,6400
0,0,Dizaino pagrindai ir piešimas,val.,120,40,20.0,4800
1,1,Dizaino programavimas,val.,120,40,20.0,4800
15,15,Dizaino programavimas,val.,120,40,20.0,4800
17,17,Programavimas,val.,100,40,20.0,4000
10,10,Programavimas,val.,100,40,20.0,4000
22,22,Dizaino programavimas,val.,80,40,20.0,3200
14,14,Dizaino piešimas,val.,80,40,20.0,3200
21,21,Dizaino piešimas,val.,80,40,20.0,3200
24,24,Programavimas,val.,80,40,20.0,3200
12,12,Dokumentacijos rengimas,val.,50,30,NaN,1500
9,9,Testavimas,val.,40,30,NaN,1200
11,11,Testavimas,val.,40,30,NaN,1200
20,20,Avansas,vnt.,1,1000,NaN,1000
13,13,Projekto parengimas darbui,val.,30,30,NaN,900
5,5,Testavimas,val.,20,30,NaN,600
19,19,Projekto talpinimas,val.,20,30,NaN,600
7,7,Testavimas,val.,20,30,NaN,600
18,18,Testavimas,val.,20,30,NaN,600
16,16,Testavimas,val.,20,30,NaN,600
23,23,Testavimas,val.,20,30,NaN,600
3,3,Testavimas,val.,16,30,NaN,480
25,25,Testavimas,val.,10,30,NaN,300
26,26,Projekto talpinimas,val.,10,30,NaN,300

## Užduotis 2

nuskaitykite duomenis iš failo countries.csv į pandas dataframe<br>
raskite tuos įrašus, kurie yra tarp 1952 ir 1970 metų<br>
raskite bendrą population sumą visose šalyse<br>
raskite šalį, kurioje "population" yra didžiausias. Išveskite tik šalies pavadinimą<br>
raskite šalį, kurioje "population" yra mažiausias. Išveskite tik šalies pavadinimą

In [42]:
countries=pd.read_csv('countries.csv')

countries[(countries['year'] <=1970) & (countries['year'] >=1952)]

print(countries['population'].sum())

#countries[countries['population']==max()]['countries'].item()

#max_column = countries['population'].max()

#duomenys[duomenys['pavadinimas'] == 'Testavimas']
#duomenys[(duomenys['pavadinimas'] == 'Testavimas') & (duomenys['matavimo_vnt'] == 'val.')]
# loc

df_largest=countries[countries['population'] == countries['population'].max()]
print(df_largest)
print()
print(df_largest['country'])

df_smallest=countries[countries['population'] == countries['population'].min()]
print(df_smallest)

50440465801
    country  year  population
299   China  2007  1318683096

299    China
Name: country, dtype: object
                    country  year  population
1296  Sao Tome and Principe  1952       60011

## Užduotis 3

nuskaitykite duomenis iš failo employees.csv į pandas dataframe<br>
pašalinkite stulpelį "phone"<br>
išveskite, kiek yra darbuotojų su kiekvienu 'job_title'<br>
išveskite, kiek yra darbuotojų kiekvienoje šalyje<br>
raskite minimalią ir maksimalią algas mieste Argentina.

In [54]:
employees=pd.read_csv('employees.csv')
#print(employees)
droped= employees.drop(columns=['phone'])
print(droped)

droped.head()

       id  first_name  last_name                         email  gender  \
0       1  Michaeline     Benoix      mbenoix0@dailymail.co.uk  Female
1       2        Cami     Milroy                 cmilroy1@t.co  Female
2       3       Kaila      Gallo               kgallo2@last.fm  Female
3       4       Kerry   Guillard        kguillard3@weather.com    Male
4       5  Clementine   Harraway  charraway4@blogtalkradio.com  Female
..    ...         ...        ...                           ...     ...
995   996         Gar  MacCallam         gmaccallamrn@about.me    Male
996   997       Halli     Medlin        hmedlinro@amazon.co.jp  Female
997   998       Amble     Fuxman         afuxmanrp@blogger.com    Male
998   999       Neale   Merriott     nmerriottrq@bloglovin.com    Male
999  1000        West    Leahair          wleahairrr@desdev.cn    Male

      birthdate      country                 city        company  \
0    1984-12-19       Brunei  Bandar Seri Begawan       Skiptube
1    1997-10-27       Brazil          Santa Luzia   Thoughtstorm
2    1982-05-24      Uruguay              Vergara    Browsedrive
3    2001-10-07     Thailand            Non Narai        Tagchat
4    1997-04-19       France             Paris 06          Yodel
..          ...          ...                  ...            ...
995  2002-08-23  Philippines               Pancol      Flashspan
996  1981-09-19        China             Yingkeng       Photojam
997         NaN    Indonesia             Sumberjo  Chatterbridge
998  1989-11-04     Thailand      Senangkhanikhom     Fivebridge
999  1983-08-06        China              Jinshan          Skiba

                        job_title  salary
0                 Web Developer I    1704
1          Administrative Officer    2355
2                   VP Accounting    2975
3             Electrical Engineer    2807
4    Human Resources Assistant IV    1175
..                            ...     ...
995                Civil Engineer     743
996                     Paralegal     769
997   Administrative Assistant IV    2540
998         Programmer Analyst II     940
999  Structural Analysis Engineer     581

[1000 rows x 11 columns]

,id,first_name,last_name,email,gender,birthdate,country,city,company,job_title,salary
0,1,Michaeline,Benoix,mbenoix0@dailymail.co.uk,Female,1984-12-19,Brunei,Bandar Seri Begawan,Skiptube,Web Developer I,1704
1,2,Cami,Milroy,cmilroy1@t.co,Female,1997-10-27,Brazil,Santa Luzia,Thoughtstorm,Administrative Officer,2355
2,3,Kaila,Gallo,kgallo2@last.fm,Female,1982-05-24,Uruguay,Vergara,Browsedrive,VP Accounting,2975
3,4,Kerry,Guillard,kguillard3@weather.com,Male,2001-10-07,Thailand,Non Narai,Tagchat,Electrical Engineer,2807
4,5,Clementine,Harraway,charraway4@blogtalkradio.com,Female,1997-04-19,France,Paris 06,Yodel,Human Resources Assistant IV,1175

In [ ]:
#droped[droped['vienetu']<=20]
#count= droped['company'].value_counts()
#print(count)

company
Wikizz          11
Quinu            9
Thoughtstorm     9
Jayo             8
Buzzdog          8
                ..
Zoomlounge       1
Babbleblab       1
Lajo             1
Skaboo           1
Flashspan        1
Name: count, Length: 349, dtype: int64

In [57]:
# droped['job_title'] = droped['company'].value_counts()
# print(droped)

print(droped["job_title"].value_counts())
print(droped["country"].value_counts())

job_title
Editor                          15
Design Engineer                 14
Senior Sales Associate          14
Account Coordinator             14
VP Sales                        13
                                ..
Systems Administrator I          1
Programmer IV                    1
Staff Accountant IV              1
Developer IV                     1
Computer Systems Analyst III     1
Name: count, Length: 183, dtype: int64
country
China          173
Indonesia      126
Philippines     59
Russia          46
Brazil          33
              ...
Israel           1
Senegal          1
Cyprus           1
East Timor       1
Switzerland      1
Name: count, Length: 122, dtype: int64

In [67]:
droped[droped["country"] == "Argentina"]["salary"].agg(["min", "max"])

min     649
max    2949
Name: salary, dtype: int64